<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApplicationURL" value="https://www.amazon.in/" />
		<add key="UserEmail" value="burman.sharmila08@gmail.com" />
		<add key="UserName" value="Sharmila" />
		<add key="Password" value="Aug@1234" />
		<add key="LogFolder" value="C:\AutomationLogs" />
		<add key="ApiURL" value="https://reqres.in/api/login" />
	</appSettings>
</configuration>